<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View All</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
		<h1>Users</h1>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Created</th>
					<th>Username</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${users.empty}">
					<td colspan="2">No users</td>
				</tr>
				<tr th:each="user : ${users}">
					<td th:text="${#calendars.format(user.gmtCreate)}">July 11,
						2012 11:11:11 PM CDT</td>
					<td><a href="view.html" th:href="@{'/users/' + ${user.id}}"
						th:text="${user.username}">The summary</a></td>
					<td><form class="form-inline"
							th:action="@{'/users/' + ${user.id}}" th:method="delete">
							<input type="submit" value="Delete" />
						</form></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>